In [15]:
import pandas as pd
import numpy as np

In [2]:
# pd.read_csv('./marathon_results_2017 - marathon_results_2017.csv')

In [16]:
age_groups = pd.DataFrame(
    data=pd.read_csv('./marathon_results_2017 - marathon_results_2017.csv'),
    index = None
)

In [57]:
# age_groups

In [58]:
age_groups['Age_Group'] = pd.cut(age_groups['Age'], bins=[0, 34, 39, 44, 49, 54, 59, 64, 69, 74, 79, 100], labels = ('18-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74', '75-79', '80+'))
# age_groups

In [59]:
final = age_groups.groupby(['Age_Group']).count()
# final

In [60]:
######################  Question # 1  ###########################

(final.groupby('Age_Group')['Bib'].sum() / final['Bib'].sum()) * 100

Age_Group
18-34    26.573268
35-39    13.638773
40-44    14.547520
45-49    16.720939
50-54    11.995456
55-59     8.462704
60-64     5.248012
65-69     2.037107
70-74     0.609618
75-79     0.140098
80+       0.026505
Name: Bib, dtype: float64

In [61]:
times = pd.DataFrame(
    data=pd.read_csv('./marathon_results_2017 - marathon_results_2017.csv'),
    index = None
)
# times

In [62]:
times['Official Time']= pd.to_datetime(times['Official Time'])
times['minutes'] = times['Official Time'].dt.hour * 60 + times['Official Time'].dt.minute + times['Official Time'].dt.second/60
# times

In [63]:
######################  Question # 2  ###########################
       #### average finish in hours per gender ####

(times.groupby('M/F')['minutes'].sum()/times.groupby('M/F')['minutes'].count())/60

M/F
F    4.151522
M    3.815191
Name: minutes, dtype: float64

In [64]:
df = pd.DataFrame(
    data=pd.read_csv('./marathon_results_2017 - marathon_results_2017.csv'),
    index = None
)
# df

In [66]:
######################  Question # 3A  ###########################
##     I condensed this to make the file smaller      ##
##     uncomment 'df' to see the data with USA runners only    ##
df = df[(df['Country'] == 'USA')]
# df

In [65]:
df['Pace']= pd.to_datetime(df['Pace'])
df['minutes'] = df['Pace'].dt.hour * 60 + df['Pace'].dt.minute + df['Pace'].dt.second/60
# df

In [56]:
######################  Question # 3B  ###########################
# data appears to be skewed by odd 'states' like AA and GU that are included in the data, so
# I returned top 10 get a better sample of normal states #

state_avg = df.groupby(['State'])['minutes'].mean().reset_index()
top = state_avg.sort_values('minutes')
top.head(10)

   State   minutes
0     AA  7.116667
14    GU  7.233333
2     AK  7.826923
4     AP  8.108333
51    VI  8.500000
8     CO  8.531679
43    PR  8.539683
16    IA  8.569369
10    DC  8.605662
20    KS  8.609420